<h3>Edit <%= @list.name %> list</h3>

<form action="/lists/<%=@list.id %>" method="POST">
  <label> List Name: </label>
  <input type="text" name="name" value="<%=@list.name %>"> 

  <br></br>

  <input class="btn btn-primary" type="submit" value="Update">

</form>
<br />
<form method="post" action="/lists/<%=@list.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="btn btn-primary" type="submit" value="Delete">
<form>

