<h3>Create a New List</h3>

<form action="/lists" method="POST">
  <label> List Name: </label>
  <input type="text" name="name"> 
  
  <br></br>
  
  <input class="btn btn-primary" value="Submit" type="submit">
</form>