<h1><font face="verdana,arial,sans-serif">Do Work: To-Do List</h1> 

<h3>Create a New List</h3>
<br>
<form action="/lists" method="POST">
  <label> List Name: </label>
  <input type="text" name="name"> 
  <br><br>
  <input class="btn btn-primary" type="submit">
</form>