<h1><font face="verdana,arial,sans-serif">Do Work: To-Do List</h1> 

<br></br>

<h3><%= @list.name %></h3>
  <h4>Tasks</h4>
  <% @list.tasks.each do |task| %>
    <ul>
      <li><h5><a href="/tasks/<%=task.id%>"><%= task.name %></a></h5></li>
    </ul>
  <% end%>
  
  <br></br>
  
  <a href="/lists/<%=@list.id%>/edit">Edit Name</a>
  
  <br></br>
  
  <a href="/tasks/new">Add Task</a>