<h3><%= @list.name %></h3>
  <h4>Tasks:</h4>
  <% @list.tasks.each do |task| %>
    <ul>
      <li><h5><a href="/tasks/<%=task.id%>"><%= task.name %></a></h5></li>
    </ul>
  <% end%>
  
  <a href="/lists/<%=@list.id%>/edit">Edit List</a>
  <a href="/tasks/new">Add Task</a>
