<h3>Log in to your account:</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
