<h1><font face="verdana,arial,sans-serif">Do Work: To-Do List</h2> 

<br></br> 

<h3>Log In</h3>
<form action="/login" method="POST">
  <label for="username">Username:</label>
  
  <br></br>
  
  <input type="text" name="username">
  
  <br></br>
  
  <label for="password">Password</label>
  
  <br></br>
  
  <input type="password" name="password">
  
  <br></br>
  
  <input class="btn btn-primary" type="submit">
</form>
