<h3>Log in to your account:</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
