<h1><font face="verdana,arial,sans-serif">Do Work: To-Do List</h2> 

<br></br> 

<h3>Log In</h3>
<form method="POST" action="/login">
  Username: <input type="text" name="username"><br><br>
  Password: <input type="password" name="password"><br><br>
  <input type="submit" value="submit"> or <a href="/signup">Sign Up</a>
</form> 
