<h1><font face="verdana,arial,sans-serif">Do Work: To-Do List</h2> 

<h2>Create your account:</h2>

<form method="POST" action="/signup">

<br></br>

  <p>Username: <input type="text" name="username" placeholder="username"></p>

<br></br>

  <p>Password: <input type="password" name="password" placeholder="*******"></p>

<br></br>

  <input class="btn btn-primary" type="submit">
</form>