<h3>Create your account:</h3>

<form method="POST" action="/signup">
  <p>Username: <input type="text" name="username" placeholder="username"></p>
  <p>Password: <input type="password" name="password" placeholder="*******"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>