<h3> Here are your lists, <%= current_user.username %></h3>
<% current_user.lists.each do |list| %>
  <ul>
    <li><h4><a href="/lists/<%=list.id%>"><%= list.name %></a></h4></li>
    <a href="/lists/<%=list.id%>/edit">Edit List</a> |&nbsp;<a href="/tasks/new">Add Task</a>
  </ul>

<% end %>