<h1><font face="verdana,arial,sans-serif">Do Work: To-Do List</h2> 

<h2>Create your account:</h2>

<form method="POST" action="/signup">
  <label>Email:</label>
  <input type="text" name="email" placeholder="you@email.com">

<br></br>

  <label>Username:</label>
  <input type="text" name="username" placeholder="username">

<br></br>

  <label>Password:</label>
  <input type="password" name="password" placeholder="*******">

<br></br>

  <input type="submit" value="Sign Up">
</form>