<h3>What's on the docket today?</h3>
<h4>This is a simple to-do list application for users to keep track of their tasks.</h4>
<br>
<h4><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to create or edit your to-do list.</h4>
